openapi: 3.2.0
info:
  title: BitGo Platform Enterprise API
  description: Representative specification of the BitGo Platform REST API v2 for institutional digital-asset custody.
  termsOfService: https://www.bitgo.com/legal/terms-of-service/
  contact:
    name: BitGo Support
    url: https://developers.bitgo.com/
  version: '2.0'
servers:
- url: https://app.bitgo.com/api/v2
  description: BitGo production platform
- url: https://app.bitgo-test.com/api/v2
  description: BitGo test environment
- url: http://localhost:3080/api/v2
  description: Self-hosted BitGo Express signing proxy (default port)
security:
- accessToken: []
tags:
- name: Enterprise
paths:
  /enterprise:
    get:
      operationId: listEnterprises
      tags:
      - Enterprise
      summary: List enterprises
      description: List the enterprises the authenticated user belongs to.
      responses:
        '200':
          description: A list of enterprises.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseList'
components:
  schemas:
    EnterpriseList:
      type: object
      properties:
        enterprises:
          type: array
          items:
            $ref: '#/components/schemas/Enterprise'
    Enterprise:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
  securitySchemes:
    accessToken:
      type: http
      scheme: bearer
      bearerFormat: accessToken
      description: 'BitGo access token passed as `Authorization: Bearer <token>`.'
