openapi: 3.0.1
info:
  title: BitGo Platform Addresses User API
  description: Representative specification of the BitGo Platform REST API v2 for institutional digital-asset custody. Covers wallets, addresses, transactions and transfers, keychains, webhooks, wallet policies, staking, trading and settlement over the Go Network, and enterprise / user surfaces. Most endpoints are namespaced under a coin (for example `btc`, `eth`, `hteth`) via the `{coin}` path parameter. Authentication uses a Bearer access token. Transaction-signing operations that require private-key material are typically issued against a self-hosted BitGo Express proxy.
  termsOfService: https://www.bitgo.com/legal/terms-of-service/
  contact:
    name: BitGo Support
    url: https://developers.bitgo.com/
  version: '2.0'
servers:
- url: https://app.bitgo.com/api/v2
  description: BitGo production platform
- url: https://app.bitgo-test.com/api/v2
  description: BitGo test environment
- url: http://localhost:3080/api/v2
  description: Self-hosted BitGo Express signing proxy (default port)
security:
- accessToken: []
tags:
- name: User
paths:
  /user/me:
    get:
      operationId: getCurrentUser
      tags:
      - User
      summary: Get current user
      description: Retrieve the profile of the currently authenticated user.
      responses:
        '200':
          description: The current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        name:
          type: object
          properties:
            full:
              type: string
        email:
          type: object
          properties:
            email:
              type: string
  securitySchemes:
    accessToken:
      type: http
      scheme: bearer
      bearerFormat: accessToken
      description: 'BitGo access token passed as `Authorization: Bearer <token>`.'
